.invoice-container{

width:90%;
max-width:1000px;

margin:50px auto;

background:white;

padding:40px;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,.1);

}

.subtitle{

font-size:18px;

color:gray;

margin-bottom:20px;

}

table{

width:100%;

border-collapse:collapse;

margin-top:30px;

}

table th{

background:#111;

color:white;

padding:15px;

}

table td{

padding:15px;

border-bottom:1px solid #ddd;

text-align:center;

}

.total{

margin-top:30px;

text-align:right;

}

.buttons{

margin-top:40px;

display:flex;

gap:20px;

}

.buttons button{

padding:15px 30px;

font-size:17px;

border:none;

cursor:pointer;

border-radius:8px;

}

.buttons button:first-child{

background:#444;

color:white;

}

#confirmBooking{

background:#d4af37;

color:white;

}

@media(max-width:768px){

table{

display:block;

overflow-x:auto;

}

.buttons{

flex-direction:column;

}

}